<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4><%= @subject %></h4>
    
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>

      <% if @message.ask.present? %>
        <p>
          Ask :- <%= raw @message.ask %>
        </p>
      <% end %>

      <% if @message.schedule_1.present? %>
        <p>
          Schedule 1 :- <%= raw @message.schedule_1 %>
        </p>
      <% end %>

      <% if @message.schedule_2.present? %>
        <p>
          Schedule 2 :- <%= raw @message.schedule_2 %>
        </p>
      <% end %>

      <% if @message.schedule_3.present? %>
        <p>
          Schedule 3 :- <%= raw @message.schedule_3 %>
        </p>
      <% end %>

    </blockquote>
    <p>
      Visit <%= link_to root_url, root_url %> and go to your inbox for more info.
    </p>
  </body>
</html>
